.icon{
    background-image: url("~img/icons.png");
}
.menuIcon{
    display: block;
    height: 28px;
    width: 28px;
    margin: 0 auto;
    background-repeat: repeat-x;
}
.menu-order{
    background-position: 0 -1px;
}

.menu-rank{
    background-position: 0 -29px;
}

.menu-analysis{
    background-position: 0 -57px;
}

.menu-more{
    background-position: 0 -113px;
}

.content-box {
    position: absolute;
    top: 42px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}
.el-tag.el-tag--info{
    color: #fff;
    background-color: #66b1ff;
  }
  /* ::-webkit-scrollbar {
    height: 0px;
    width: 0px;
    background: #eee;
  } */
.el-dialog__wrapper{
    overflow: hidden;
    padding: 10vh 0;
}
.custom-dialog{
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 0;
  }
  .el-dialog__body{
      overflow-y: auto;
      display: flex;
  }
  .el-scrollbar__wrap{
      height: calc(100% + 17px);
  }
  .el-cascader-panel{
      height: 400px;
  }
  .required > label::before{
    content: '*';
    color: #F56C6C;
    margin-right: 4px;
    display: inline-block;
  }
  .el-form-item__content, .el-scrollbar{
      height: 100%;
  }
