.icon{
    background-image: url("~img/icons.png");
}
.menuIcon{
    display: block;
    height: 28px;
    width: 28px;
    margin: 0 auto;
    background-repeat: repeat-x;
}
.menu-order{
    background-position: 0 -1px;
}

.menu-rank{
    background-position: 0 -29px;
}

.menu-analysis{
    background-position: 0 -57px;
}

.menu-more{
    background-position: 0 -113px;
}

.el-form-item{
    display: inline-block;
}

.content-box {
    position: absolute;
    top: 42px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-width: 1200px;
}
.el-tag.el-tag--info{
    color: #fff;
    background-color: #66b1ff;
  }
  .el-form-item__label{
      width: 80px;
  }
  .el-form-item__content{
      display: inline-block;
      height: 100%;
  }
